nav {
    display: flex; 
    align-items: center;
    justify-content: space-around;
    height: 70px; 
    background: var(--prim-col-1);
    color: white; 
    position: sticky;
    top: 0; 
    z-index: 10; 
}
nav>div {
    display: flex; 
    align-items: center;
    justify-content: space-around;
    gap: 50px;

}
nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

nav li {
    font-weight: 700;
}

nav a {
    text-decoration: none;
    color: inherit;
    position: relative;
}

nav a::after {
    content: '';
    position: absolute; 
    width: 0%; 
    height: 3px; 
    background: black; 
    bottom: 0; 
    left: 0; 
    transition: width 0.5s; 
}

nav a:hover, nav a:focus {
    color: black;
}

nav a:hover::after, nav a:focus::after {
    width: 100%; 
}

.basket {
    position: relative;
    cursor: pointer;
}

.basket-count {
    position: absolute; 
    height: 25px; 
    width: 25px; 
    background: var(--prim-col-2); 
    top: 75%; 
    left: 50%; 
    border-radius: 50%;
}

nav input {
    outline: none; 
    border: none; 
    border-radius: 10px; 
    padding: 10px; 
}